/**
* file: style.css
* @author: Test 01 <test-01@yopmail.com>
*/

body {
    font-family: 'Nunito', sans-serif;
}

.app-container {
    margin-top: 1%;
}

.center {
    margin: 0;
    text-align: center;
}

.feature-list li {
    text-align: left!important;
}